body{
    background-color: lightgray;
}
.favoritos{
    list-style: none;
    padding: 0;
}
.row img{
    margin-bottom: .5rem;
}
.comentarios{
    margin-top: auto;
}
.comentarios form{
    margin-top: .5rem;
}